<body>
  <main class="main-content" role="main">
    <section class="section-login section-height d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-9 col-lg-7 col-xl-5">
            <div class="items-login wb-rounded">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => "login-form"}) do |f| %>
                <h1 class="h3 pb-md-3 text-center">Login to your account</h1>
                <div class="form-group form-group-label" id="resume-email">
                  <%= f.email_field :email, class: "form-control" %>
                 <label for="resume-email">
                    Email Address
                  </label>
                </div>
                
                <div class="form-group form-group-label" id="resume-password">
                  <%= f.password_field :password, class: "form-control" %>
                  <label for="resume-password">
                    Password
                  </label>
                </div>

                <div class="row mx-n2 align-items-center pt-md-3">
                  <div class="col-6 col-sm-5 px-2">
                    <%= f.submit "Sign in", :class => "button btn btn-primary w-150", :name => "login" %>
                  </div>
                  <div class="col-6 col-sm-7 px-2 text-right">
                    <%= link_to "Forgot password?",forgot_password_path, :class => 'link-15' %>
                  </div>
                </div>
                <!-- <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button> -->
                <p class="mt-5 mb-3 text-center">© 2021-2022</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>


                

  
