<div class="container card">
  <div class="row">
    <div class="col-12 col-md-4 col-md-offset-2">
      <h2 class="worker-name"> <%= @resume.name %></h2>
      <h5><div class="project-fields"><strong>Birthdate</strong>: <%= @resume.birthdate %></div></h5>
      <h5><div class="project-fields"><strong>Gender</strong>: <%= @resume.gender %></div></h5>
      <h5 class="worker-info"><div class="project-fields"><strong>Email</strong>: <%= @resume.email %></div></h5>
      <h5><div class="project-fields"><strong>Address</strong>: <%= @resume.address %></div></h5>
      <h5><div class="project-fields"><strong>Country</strong>: <%= @resume.country %></div></h5>
      <h5><div class="project-fields"><strong>Website</strong>: <%= @resume.website %></div></h5>
      <h5><div class="project-fields"><strong>Contact</strong>: <%= @resume.phone_number %></div></h5>
      <h5><div class="project-fields"><strong>About Me</strong>: <%= @resume.general_info %></div></h5>
    </div>
    <div class="col-12 col-md-5"></div>
    <div class="col-12 col-md-3">
      <% if @resume.avtar.present? %>
        <div class='pull-right'><%= image_tag @resume.avtar,:width=>"200" %></div>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <% if @resume.projects.any? %>
        <h4>Project Experience</h4>
        <% @resume.projects.each do |project| %>
          <div class="project-sections"></div>
          <div class="project-date project-fields">
            <%= project.date_from&.strftime('%B %Y') %> -
            <%= project.date_to&.strftime('%B %Y') %>
            <span style="display: block; color: #2E2F30"><strong>Client</strong>: <%= project.client %></span>
          </div>
          <div class="project-fields">
            <strong>Project description</strong>: <%= project.description %>
          </div>
          <div class="project-fields">
            <strong>Used technologies</strong>: <%= project.technologies %>
          </div>
          <div class="project-fields">
            <strong>Role in project</strong>: <%= project.role %>
          </div>
          <div class="project-fields">
            <strong>Level</strong>: <%= project.level %>
          </div>
          <div class="project-fields">
            <strong>Team Size</strong>: <%= project.team_size %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <% if @resume.jobs.any? %>
        <h4>Job Experience</h4>
        <% @resume.jobs.each do |job| %>
          <div class="project-sections-jobs"></div>
          <div class="project-date job-fields">
            <%= job.date_from&.strftime("%d.%m.%y") %> -
            <%= job.date_to&.strftime("%d.%m.%y") %>
            <span style="display: block; color: #2E2F30"><strong>Company</strong>: <%= job.firm %></span>
          </div>
          <div class="project-fields">
            <strong>Position</strong>: <%= job.position %>
          </div>
          <div class="project-fields">
            <strong>Job Description</strong>: <%= job.description %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <hr>
    <div class="row">
      <div class="col-md-5 col-md-offset-2">
        <% if @resume.skills.any? %>
          <h4>Skills & Competences</h4>
          <%= section = '' %>
          <% @resume.skills.order('section').order('percent DESC').each do |skill| %>
            <% if section != skill.section %>
              <h5><%= section = skill.section %></h5>
            <% end %>
            <div class="skillbar clearfix " data-percent="<%= skill.percent %>%">
              <div class="skill-title"><strong><span class="skill-title">Skills</span>:</strong><%= skill.title %></div>
              <div class="skill-bar-percent"><%= skill.percent %>%</div>
            </div> <!-- End Skill Bar -->
          <% end %>
        <% end %>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <% if @resume.educations.any? %>
        <h4>Education</h4>
        <% @resume.educations.each do |education| %>
          <div class="project-sections-education"></div>
          <div class="project-date project-fields">
            <%= education.date_from&.strftime('%B %Y') %> -
            <%= education.date_to&.strftime('%B %Y') %>
          </div>
          <div>
            <span class="project-fields"><strong>College Name</strong>:<%= education.place %></span>
          </div>
          <% if education.level.empty? %>
            <div class="project-fields">
              <strong>CGPA</strong>: <%= education.description %>
            </div>
          <% else %>
            <div class="project-fields">
              <strong>Level</strong>: <%= education.level %>
            </div>
            <div class="project-fields">
              <strong>Description</strong>: <%= education.description %>
            </div>
           <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-5 col-md-offset-2">
      <% if @resume.languages.any? %>
        <h4>Languages</h4>
        <% @resume.languages.each do |language| %>
          <p><span><%= language.name%></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
<div class="row">
  <div class="col-md-5 col-md-offset-2">
    <h4>Interests</h4>
    <span><%= @resume.interests %></span>
  </div>
  <% if user_signed_in? && current_user.id == @resume.user_id %>
    <p class="pull-right">
      <%= link_to 'Back', :back, class: 'btn btn-default btn-sm' %>
      <%= link_to 'Edit', edit_resume_path(@resume, step: 1), class: 'btn btn-warning btn-sm' %>
    </p>
  <% end %>
</div>
</div>
