<section class="section-details">


  <div class="container">
    <div class="item-header">
      <div class="row mx-n2">
        <div class="col-4 px-2">
        </div>
        <div class="col-4 pt-3 text-center">
          <div class="text-18 text-blue">
            <%= "Download Your Resume" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-md-17 pt-4">
      <div class="col-12 col-sm-6 col-lg-6">
        <a class="items-box" href="<%= download_resume_path(resume.id, :resume_type => "Normal", :format=> 'pdf') %>">
          <div class="item-icon">
            <%= image_tag  "Basic3:4 .jpeg" %>
          </div>
          <div class="item-name">
            <%= "BASCIS" %>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-6">
        <a class="items-box" href="<%= download_resume_path(resume.id, :resume_type => "Intermediate", :format=> 'pdf') %>">
          <div class="item-icon">
            <%= image_tag  "Intermediate3:4.jpeg", :width => "50" %>
          </div>
          <div class="item-name">
            <%= "INTERMEDIATE" %>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pt-4">
        <a class="items-box" href="<%= download_resume_path(resume.id, :resume_type => "Advanced", :format=> 'pdf') %>">
          <div class="item-icon">
            <%= image_tag  "Advance3:4.jpg" %>
          </div>
          <div class="item-name">
            <%= "ADVANCED" %>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-6 pt-4">
        <a class="items-box" href="<%= download_resume_path(resume.id, :resume_type => "Pro", :format=> 'pdf') %>">
          <div class="item-icon">
            <%= image_tag  "Pro_template.jpeg" %>
          </div>
          <div class="item-name">
            <%= "PRO" %>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>