<div class="container">
  <div class="card p-4">
  <%= form_for @resume do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="row">
      <div class="col-md-4">
        <% if @resume.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@resume.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
              <% @resume.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="text-center"><h4>Basic information</h4></div>
      </div>
      <hr>


      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-name">
            <%= f.text_field :name, :class => "form-control",:placeholder => "Name" %>
            <label for="resume-name">
              Name
            </label>
          </div>
        </div> 

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-email">
            <%= f.text_field :email, :class => "form-control",:placeholder => "Email Address" %>
            <label for="resume-email">
              Email
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-interests">
            <%= f.text_field :interests, :class => "form-control",:placeholder => "Interests" %>
            <label for="resume-interests">
              Interests
            </label>
          </div>
        </div>

        

        <div class="col-12 col-sm-6">
          <div class="form-group">
            <% gender = [["Male", "MALE"], ["Female", "FEMALE"], ["Other", "OTHER"]] %>
            <%= f.select :gender, gender, {}, class: 'ever-inputs form-control', placeholder: 'Gender' %>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-bdate">
            <%= f.date_field :birthdate, :class => "form-control",:placeholder => "Birthdate" %>
            <label for="resume-bdate">
              Birthdate
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-name">
            <%= f.text_field :address, :class => "form-control",:placeholder => "Address" %>
            <label for="resume-address">
              Address
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-country">
            <%= f.text_field :country, :class => "form-control",:placeholder => "Country" %>
            <label for="resume-country">
              Country
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-website">
            <%= f.text_field :website, :class => "form-control",:placeholder => "Website" %>
            <label for="resume-website">
              Website
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-phone">
            <%= f.text_field :phone_number, :class => "form-control",:placeholder => "Phone Number" %>
            <label for="resume-phone">
              Contact Info
            </label>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="form-group form-group-label" id="resume-geninfo">
            <%= f.text_field :general_info, :class => "form-control",:placeholder => "General information" %>
            <label for="resume-geninfo">
              About You
            </label>
          </div>
        </div>
      </div>
    </div>
 

    <div class="row pt-3">
      <div class="col-md-12 col-md-offset-1 card">
        <div id="skills">
          <div class="text-center"><h4>Skills</h4></div>
          <%= f.fields_for :skills do |skill| %>
              <%= render 'skill_fields', f: skill %>
          <% end %>
          <div class="text-right">
            <%= link_to_add_association 'Add skills', f, :skills, partial: 'skill_fields', class: 'add-buttons pull-right' %>
          </div>
        </div>
      </div>
    </div>


    <div class="row pt-3">
      <div class="col-md-12 col-md-offset-1 card">
        <div class="text-center"><h4>Project Experience</h4></div>
          <div id="projects">
          <%= f.fields_for :projects do |project| %>
              <%= render 'project_fields', f: project %>
          <% end %>
          <div class="text-right">
            <%= link_to_add_association 'Add projects', f, :projects, partial: 'project_fields', class: 'add-buttons pull-right' %>
          </div>

        </div>
      </div>
    </div>


    <div class="row pt-3">
      <div class="col-md-12 col-md-offset-1 card">
        <div class="text-center"><h4>Job Experience</h4></div>
        <div id="jobs">
          <%= f.fields_for :jobs do |job| %>
            <%= render 'jobs_fields', f: job %>
          <% end %>
          <div class="text-right">
            <%= link_to_add_association 'Add more', f, :jobs, partial: 'jobs_fields', class: 'add-buttons pull-right' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-12 col-md-offset-1 card">
        <div class="text-center"><h4>Education</h4></div>
        <div id="educations">
          <%= f.fields_for :educations do |education| %>
            <%= render 'educations_fields', f:education %>
          <% end %>

          <div class="text-right">
            <%= link_to_add_association 'Add more', f, :educations, partial: 'educations_fields', class: 'add-buttons pull-right' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-12 col-md-offset-1 card">
        <div class="text-center"><h4>Languages</h4></div>
        <div id="languages">
          <%= f.fields_for :languages do |language| %>
            <%= render 'languages_fields', f: language %>
          <% end %>
          <div class="text-right">
            <%= link_to_add_association 'Add more languages', f, :languages, partial: 'languages_fields', class: 'add-buttons pull-right' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-md-12 col-md-offset-1 card">
        <div class="text-center"><h4>Upload Image</h4></div>
        <div id="languages">
          <%= f.file_field :avtar, :class => "form-control" %>
          <% if f.object.avtar.present? %>
            <%= image_tag(f.object.avtar)  %>
            <%= link_to 'Remove',delete_attachment_resume_path(:id => @resume.avtar.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    

    <div class="row pt-4">
      <div class="col-12">
        <p class="pull-right links">
          <%= f.submit class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Back', :back, class: 'btn btn-secondary btn-sm' %>
        </p>
      </div>
    </div>
  <% end %>
</div>
</div>