<div class="page-content">
  <div>
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" data-parallax="true" style="background-image: url('images/cc-bg-1.jpg')"></div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image">
                <%= image_tag "userlogopng"%>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="pull-right resume_name"><h2></h2></div>
                  <p class="category text-white"><Web Developer, Graphic Designer, Photographer></p>
                    
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
      
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Final Sem Information Technology Student A quick and adaptive learner who can contribute towards the advancements of IT industry. • Passionate about Cloud Computing & Micro services. • Possessing basic knowledge of Ruby, Python, MVC / MVT frameworks, OOPS, ORM concepts, Git and Relational Database Management Systems. • Web Development using HTML, CSS, JS, jQuery, Bootstrap. </p>
            <p class="resume_general_info"></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong><span class="resume_email"></span></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong><span class="resume_phone_number"></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Birthdate:</strong><span class="resume_birthdate"></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Gender:</strong><span class="resume_gender"></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong><span class="resume_address"></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Country:</strong><span class="resume_country"></div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Website:</strong><span class="resume_website"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p><%= "march 2020 - may 2021" %></p>
              <div class="h5"><%= "B.tech" %></div>
            </div>
          </div>

          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"><%= "IT" %></div>
              <p class="category"><%= "Indus University" %></p>
              <p><%= "8.81" %></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
      
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge"><%= "Technical" %></span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div><span class="progress-value"><%= "60%" %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Project Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p><%= "may 2021 - september 2022" %></p>
            <div class="h5"><%= "Resume Builder" %></div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5"><%= "Ruby On Rails" %></div>
            <p><%= "Build a resume builder from scratch" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-experience-header">
              <p><%= "May 2019 - May2020" %></p>
              <div class="h5"><%= "Shelter Soft"%></div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"><%= "Junior Developer" %></div>
              <p><%= "Ahmedabad" %></p>
              <p><%= "Final Sem Information Technology Student A quick and adaptive learner who can contribute towards the advancements of IT industry." %></p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
    



    
  
  
    <script src="js/core/jquery.3.2.1.min.js?ver=1.1.0"></script>
    <script src="js/core/popper.min.js?ver=1.1.0"></script>
    <script src="js/core/bootstrap.min.js?ver=1.1.0"></script>
    <script src="js/now-ui-kit.js?ver=1.1.0"></script>
    <script src="js/aos.js?ver=1.1.0"></script>
    <script src="scripts/main.js?ver=1.1.0"></script>
</body>