<div class="nested-fields">
  <div class="row">

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-dfrom">
        <%= f.date_field :date_from, :class => "form-control",:placeholder => "Date From" %>
        <label for="resume-dfrom">
          Date From
        </label>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-dto">
        <%= f.date_field :date_to, :class => "form-control",:placeholder => "Date To" %>
        <label for="resume-dto">
          Date To
        </label>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-client">
        <%= f.text_field :client, :class => "form-control",:placeholder => "Project Name" %>
        <label for="resume-client">
          Project Name
        </label>
      </div>
    </div>


    

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <% roles = [["Developer", 'DEVELOPER'], ["Tester", "DESIGNER"], ["Designer", "TESTER"], ["Team Leader","TEAM_LEADER"]] %>
        <%= f.select :role, roles, {}, class: 'ever-inputs form-control', placeholder: 'Gender' %>
      </div>
    </div>

    <div class="col-12 col-sm-6">
      <div class="form-group">
        <%= f.radio_button :level, 'Beginer', :checked => true %> 
        <%= label :level_beginer, 'Beginer' %>
        <%= f.radio_button :level, 'Intermediate' %>
        <%= label :level_intermediate, 'Intermediate' %> <br>
        <%= f.radio_button :level, 'Advanced' %>
        <%= label :level_advanced, 'Advanced' %>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-team">
        <%= f.number_field :team_size, :class => "form-control",:placeholder => "Number of People Involved" %>
        <label for="resume-team">
          Number of People Involved
        </label>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-des">
        <%= f.text_area :description, :class => "form-control",:placeholder => "Project Description" %>
        <label for="resume-des">
          Project Description
        </label>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="form-group form-group-label" id="resume-tech">
        <%= f.text_area :technologies, :class => "form-control",:placeholder => "Used Technologies" %>
        <label for="resume-tech">
          Used Technologies
        </label>
      </div>
    </div>

    

    <div class="col-md-6">
      <%= link_to_remove_association 'remove project', f, class: 'btn btn-danger btn-xs pull-right title' %>
    </div>
  </div>
</div>