<div>
  <%= link_to 'New Resume', new_resume_path, class: 'btn btn-primary btn-sm' %>
  <div class="row p-2">
    <% if @resumes.present? %>
      <% @resumes.each do |resume| %>
        <div class="col-12 col-sm-4 pt-5">
          <div class="card p-2">
            <div class="thumbnail">
              <%#= image_tag(resume.avatar.url(:large)) %>
              <div class="caption">
                <h3><%= resume.name %></h3>
                <h4><%= resume.website %></h4>
                <p><%= resume.general_info %></p>
                <p>
                  <%= link_to "Normal", resume_path(resume, type: "normal"), class: 'btn btn-primary btn-sm'%>
                  <%= link_to "Intermediate", resume_path(resume, type: "intermediate"), class: 'btn btn-info btn-sm'%>
                  <%= link_to "Pro", resume_path(resume, type: "pro"), class: 'btn btn-primary btn-sm'%>
                  <%= link_to 'Edit', edit_resume_path(resume, step: 1), class: 'btn btn-warning btn-sm' %>
                  <%= link_to 'Delete', resume, method: :delete, class: 'btn btn-danger btn-sm', data: {:confirm => 'Are you sure?'} %>
                  <%= link_to "Download", download_resume_path(resume, :format => 'pdf'), class: 'btn btn-success btn-sm' %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

